*{
  margin: 0;
  padding: 0;
 
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;
  font-family: "Jost", sans-serif;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: rgb(255, 255, 255);
}
.box1{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 400px;
  background-color: rgba(67, 195, 205, 0.366);
  height: 400px;
position: absolute;
border-radius: 20px;
top:50%;
  left: 50%;
  transform: translate(-31%,-50%);
}


.sun{
  width: 250px;
  height: 250px;
  margin-top: -150px;
  margin-right: -400px;
  margin-left:200px ;
}
.rain{
  width: 400px;
  height: 400px;
  z-index: -10;
  
}
.parent-div{
  display: flex;

}
.cloud{
  width: 70px;
  height: 50px;
  
}
.cloud-para{
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #1d0a49;
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  z-index: 1;
}
.cloud-div{
  
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
}
button{
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: none;
background-color: transparent;
  
  position: relative;
}

button:hover{
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.7);
  transform: translateY(-2px);
}
.input-clout{
  display: flex;
  align-items: center;
}

.me-para{
margin-left: -300px;
margin-right: 200px;
}
.rain-box{
  height: 400px;

  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  padding-bottom: 6rem;
  
  
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  margin-left: -200px;
margin-right: 200px;
  text-transform: uppercase;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #e3f708;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}